.button {
	display: flex;
	padding: 10px 20px;
	border: 1px solid #f1582c;
	border-radius: 20px;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	color: #f1582c;
	background-color: #fff;
	margin-top: 22px;
	cursor: pointer;
}

.button:hover {
	background-color: #f1582c;
	color: #fff;
}
